@{classModel.package + '.proxy'};

@foreach{importedType : classModel.importedTypes}
import @{importedType};
@end{}

public class @{classModel.name + 'Proxy'} @{'{'}
  @foreach{method : classModel.methods}
  public static void @{method.name}(@{method.routingContextType} routingContext) @{'{'}

  @{'}'}
  @end{}
@{'}'}